@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;

}
h1,h2,p{
    margin-bottom: 10px;
    text-align: justify;

}
header, section.normal{
    padding: 20px;
}
section.flex-content{
    padding: 20px;
    background-color: rgba(0, 255, 81, 0.292);

    display: flex;
    flex-flow: column nowrap;
}
section > article {
    border: 2px dashed black; /* para visualizar*/
}
article.media-text{
    display: flex;
    flex-flow:row wrap-reverse ;
}
article.text-media{
    display: flex;
    flex-flow: row wrap;

    padding-top: 10px;
}
article > div.text{
    flex:1 1 400px;

    border: 2px dashed blue; /* para visualizar*/

    }
article > div.media{
    flex: 1 0 400px;

    border: 2px dashed red; /*para visualizar*/
}
div.media > img{
    width: 400px;
    padding-bottom: 10px;

    display: block;
    margin: auto;
}
div.media > video {
    display: block;
    margin: auto;

    width: 87%;
}