@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1 em;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}

header{ /* meu header é o conteiner pai com 2 itens: o h1 e o nav*/
    background-color: gray;
    padding: 10px;
    color: white;

    display: flex;
    flex-flow: row wrap; /* em linha, com quebra*/
    justify-content: space-between; /*grudado no main start e no main end, espaçamento entre eles é igual*/
    align-items: center; /*os itens ficarão no meio do cross axis*/

}
header > h1{
    /*border: 1px dotted black;*/

    flex: 0 0 200px; /* item não flexivel, nao cresce, nao diminui */
}
header > nav { /* é conteiner pai com 1 item: os links*/
   /* border: 1px dotted black;*/

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; /* os itens ficam grudados no main end*/
}
header > nav > a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;

}
header > nav > a:hover {
    background-color: white;
    color: black;
    transition: background-color 0.5s;
}

main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.354);
}